<table mat-table [dataSource]="asociaciones" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="ID_ASOCIACION">
        <th mat-header-cell *matHeaderCellDef> ID</th>
        <td mat-cell *matCellDef="let element"> {{element.ID_ASOCIACION}} </td>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="NOMBRE_ASOCIACION">
        <th mat-header-cell *matHeaderCellDef> Asociacion </th>
        <td mat-cell *matCellDef="let element"> {{element.NOMBRE_ASOCIACION}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="IMFORMACION_ADICIONAL">
        <th mat-header-cell *matHeaderCellDef> Imf. adicional </th>
        <td mat-cell *matCellDef="let element"> {{element.IMFORMACION_ADICIONAL}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="DENOMINACION_ID_DENOMINACION">
        <th mat-header-cell *matHeaderCellDef> Denominacion </th>
        <td mat-cell *matCellDef="let element"> {{element.DENOMINACION_ID_DENOMINACION}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="NUMERO_MIENBROS">
        <th mat-header-cell *matHeaderCellDef> N° mien. </th>
        <td mat-cell *matCellDef="let element"> {{element.NUMERO_MIENBROS}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="UBICACION_ID_UBI_HIJO">
        <th mat-header-cell *matHeaderCellDef>Ubicacion </th>
        <td mat-cell *matCellDef="let element"> {{element.UBICACION_ID_UBI_HIJO}} </td>
    </ng-container>


    <!-- Symbol Column -->
    <ng-container matColumnDef="FECHA_CONSTITUCION">
        <th mat-header-cell *matHeaderCellDef> Fecha de Registro </th>
        <td mat-cell *matCellDef="let element"> {{element.FECHA_CONSTITUCION}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="JUNTA_VECINAL_ID_JD">
        <th mat-header-cell *matHeaderCellDef> ID_Casa_Vecinal </th>
        <td mat-cell *matCellDef="let element"> {{element.JUNTA_VECINAL_ID_JD}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="ID_SOLICITANTE">
        <th mat-header-cell *matHeaderCellDef> ID_solicitate </th>
        <td mat-cell *matCellDef="let element"> {{element.ID_SOLICITANTE}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>