<div class="center">
    <button mat-icon-button>    
      <a mat-icon-button routerLink="/asociacion/add">
        <mat-icon  class="add" color="accent">add_circle</mat-icon>
      </a>
    </button>
  </div>
  <nav class="center">
    <table mat-table [dataSource]="asociaciones" class="mat-elevation-z8">
      <ng-container matColumnDef="ID_ASOCIACION">
        <th mat-header-cell *matHeaderCellDef>ID     </th>
        <td mat-cell *matCellDef="let asociacion"> {{asociacion.ID_ASOCIACION}} </td>
      </ng-container>
      <ng-container matColumnDef="NOMBRE_ASOCIACION">
        <th mat-header-cell *matHeaderCellDef>ASOCIACION</th>
        <td mat-cell *matCellDef="let asociacion"> {{asociacion.NOMBRE_ASOCIACION}} </td>
      </ng-container>
      <ng-container matColumnDef="IMFORMACION_ADICIONAL">
        <th mat-header-cell *matHeaderCellDef>IMFORMACION</th>
        <td mat-cell *matCellDef="let asociacion"> {{asociacion.IMFORMACION_ADICIONAL}} </td>
      </ng-container>
      <ng-container matColumnDef="DENOMINACION_ID_DENOMINACION">
        <th mat-header-cell *matHeaderCellDef>DENOMINACION</th>
        <td mat-cell *matCellDef="let asociacion"> {{asociacion.DENOMINACION_ID_DENOMINACION}} </td>
      </ng-container>
      <ng-container matColumnDef="EDITAR">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let asociacion">
          <a mat-icon-button [routerLink]="['/editar', asociacion.ID_ASOCIACION]">
            <mat-icon color="primary">edit</mat-icon>
          </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="ELIMINAR">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let asociacion">
          <button (click)="delAsociacion(asociacion.ID_ASOCIACION)" mat-icon-button>
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['ID_ASOCIACION','NOMBRE_ASOCIACION','IMFORMACION_ADICIONAL','DENOMINACION_ID_DENOMINACION']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['ID_ASOCIACION','NOMBRE_ASOCIACION','IMFORMACION_ADICIONAL','DENOMINACION_ID_DENOMINACION'];"></tr>  
    </table>
  </nav>
   