<div class="center">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Actualizar</mat-card-title>
            <mat-card-subtitle>Asociaciones</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>id_asociacion</mat-label>
                <input matInput [(ngModel)]="asociacion.id_asociacion" placeholder="Ingresar id_asociacion"
                    name="id_asociacion">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>nombre_asociacion</mat-label>
                <input matInput [(ngModel)]="asociacion.nombre_asociacion" placeholder="Ingresar nombre_asociacion"
                    name="nombre_asociacion">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>imformacion_adicional</mat-label>
                <input matInput [(ngModel)]="asociacion.imformacion_adicional"
                    placeholder="Ingresar IMFORMACION_ADICIONAL" name="imformacion_adicional">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>denominacion_id_denominacion</mat-label>
                <input matInput [(ngModel)]="asociacion.denominacion_id_denominacion"
                    placeholder="Ingresar denominacion_id_denominacion" name="denominacion_id_denominacion">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>numero_mienbros</mat-label>
                <input matInput [(ngModel)]="asociacion.numero_mienbros" placeholder="Ingresar numero_mienbros"
                    name="numero_mienbros">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>ubicacion_id_ubi_hijo</mat-label>
                <input matInput [(ngModel)]="asociacion.ubicacion_id_ubi_hijo"
                    placeholder="Ingresar ubicacion_id_ubi_hijo" name="ubicacion_id_ubi_hijo">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>fecha_constitucion</mat-label>
                <input matInput [(ngModel)]="asociacion.fecha_constitucion" placeholder="Ingresar fecha_constitucion"
                    name="fecha_constitucion">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>junta_vecinal_id_jd</mat-label>
                <input matInput [(ngModel)]="asociacion.junta_vecinal_id_jd" placeholder="Ingresar junta_vecinal_id_jd"
                    name="junta_vecinal_id_jd">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>id_solicitante</mat-label>
                <input matInput [(ngModel)]="asociacion.id_solicitante" placeholder="Ingresar " name="id_solicitante">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="modificarAsociacion()">Registrar</button>
            <a mat-raised-button routerLink="/listar" color="warn">Cancelar</a>
        </mat-card-actions>
    </mat-card>

    <!---->
</div>